<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style.css">
   <title>Node Blog</title>
   <!-- <%~include('./head/head')%> -->
</head>
<body>
   <nav>
      <h1>Node blog</h1>
      <ul>
         <li><a href="/">Anasayfa</a></li>
         <li><a href="/abaout">Hakkımızda</a></li>
         <li><a href="/login">Login</a></li>
      </ul>
   </nav>


   <section>
      <a href="/admin/add">Yeni Yazı Ekle</a>

      <h1>Blog Yazıları</h1>
      <ul>
        <%
        blogs.forEach(blog=>{
        %>
         <li>
            <p><%=blog.title%></p>
            <p><%=blog.short%></p>
            <p><%=blog.long%></p>
            <!-- <a href="/blog/<%=blog._id%>">Delete</a> -->
            <a class="del" data-doc="<%=blog._id%>">Sil</a>
         </li>
        <% }) %>
      </ul>
   </section>

   <script>
      const del = document.querySelector('a.del');
      del.addEventListener('click',(e)=>{
         const endPoint =`/admin/delete/${del.dataset.doc}`;
         fetch(endPoint,{
            method:'DELETE'
         })
         .then((res)=>{res.json()})
         .then((data)=>window.location.href = data.link)
         .catch((err)=>{
               console.log(err);
         });
      });
   </script>
</body>
</html>